.nav-bar {
  @apply py-2 border-b border-stone-200 w-full flex justify-center;
}

#mobile-sidebar {
  @apply fixed inset-y-0 left-0 z-50 w-64 bg-white shadow-lg transform -translate-x-full transition-transform duration-300 ease-in-out;
}

#mobile-sidebar.open {
  transform: translateX(0);
}

.breadcrumb {
  @apply py-2 bg-gray-100 mb-5 text-sm;
}

.breadcrumb-list {
  @apply flex gap-2 list-none;
}

.breadcrumb-list li {
  @apply inline-block;
}

.breadcrumb-list a {
  @apply text-blue-500 hover:underline;
}

.breadcrumb-list li::after {
  content: ">";
  @apply text-gray-500 mx-2;
}

.breadcrumb-list li:last-child::after {
  content: "";
}
