* {
  font-family: GeneralSans-Variable;
  font-optical-sizing: auto;
}

/*Tailwind Prose Styling*/

main {
  @apply prose prose-base md:prose-lg prose-headings:font-medium prose-img:rounded;
}

.no-prose-margin {
  @apply prose-headings:my-0 prose-img:my-0;

  .post-thumbnail {
    @apply my-0;
  }
}

main a {
  @apply hover:text-blue-700 underline focus:outline-none focus:ring-2 focus:ring-blue-400;

  text-decoration-color: #1d4fd881;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;

  &:hover {
    text-decoration-color: #1d4fd8;
  }
}