@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

/*material symbols settings*/
.material-symbols-rounded {
  @apply p-0 ml-1;

  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20 !important;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-stone-900 font-semibold;
}

p {
  @apply text-stone-500 text-lg;
}

/*Heading Sizes*/

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}
