<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title }}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/tailwind-output.css' | relative_url }}"
    />
  </head>
  <body class="flex flex-col items-center">
    {% include nav-bar.html %}

    <main class="content-width my-4">{{ content }}</main>
    {% include footer.html %}
  </body>
</html>
